<% provide(:title, 'About') %>
<h1>About</h1>
<p>This is my first actual website, so it's definitely a learning experience.

Please excuse any problems with the site for now, I will work on getting them fixed as soon as possible.</p>
