<% provide(:title, 'About') %>
<h1>About</h1>
<p>This is my first actual website, so it's definitely a learning experience.

Please excuse any problems with the site for now, I will work on getting them fixed as soon as possible.</p>
<br>
Feel free to contact me on LINE (arkcruiser) with any comments, questions, bugs, or suggestions and I will try to respond as soon as I can.