<div class="center hero-unit">
  <h1>Marvel War of Heroes: Deck Optimizer (Beta)</h1>

  <h2>
    This is the home page for the
    Marvel War of Heroes: Deck Optimizer (Beta).  This web
    application should make determining your optimal deck from
    your current and/or future cards easy.
  </h2>

  <%= link_to "Try it Out!", optimizer_path, class: "btn btn-large btn-primary" %>
</div>