<h1>Deck Optimizer (Beta)</h1>
<p>Type in the stats of the 5-10 cards you want to optimize.  The results page will tell you what order to put the best 5 for your optimal deck. </p>
<b>What this Optimizer is great for:</b><br>
<ul>
  <li>Finding the best deck given your actual cards! (not maxed/mastered perfectly? No problem!)</li>
  <li>Easy to check if a new card will improve your current deck! (enter your current cards, then 1 or 2 cards you're thinking about adding)</li>
  <li>Can Optimize for either Attack or Defense.</li>
</ul>
<br>
<b>Current Limitations of the Optimizer:</b><br>
<ul>
  <li>Cards must be entered manually (but results can be bookmarked for easy future editing)</li>
  <li>No Special Combos are taken into account</li>
</ul>
<br>
<b>Instructions:</b><br>
<ul>
  <li>Fill in the names, alignments, powers, atks, defense, and abilities of at least 5 cards</li>
  <li>Choose whether or not to take Adapter Bonus into account, your Alliance Position, and desired Scrapper Bonus</li>
  <li>Select what to Optimize for (Attack or Defense)</li>
  <li>Press the "Optimize" button at the bottom</li>
</ul>
<br>
<b>Tips and Suggestions:</b><br>
<ul>
  <li>The optimizer will only use a card if the Name field is not blank, so be sure to fill in something</li>
  <li>If something seems way off, please double check that all the fields were entered correctly</li>
  <li>Try your best 10 cards</li>
  <li>Try your best 5-10 of each alignment (the adapter bonus and many abilities favor single-alignment decks)</li>
  <li>Use the <a href="http://marvel-war-of-heroes.wikia.com/wiki/Marvel:_War_of_Heroes_Wiki">MWoH Wiki</a> to find card stats, then run tests to find cards that will improve your deck</li>
</ul>