<h1>Deck Optimizer (Beta)</h1>
<p>Type in the stats of the 5-7 cards you want to optimize.  The results page will tell you what order to put the best 5 for your optimal deck. </p>
<b>Current Limitations of the Optimizer:</b><br>
<ul>
  <li>Debuffs are not taken into account, only boosts</li>
  <li>Only optimizes attack (for now...)</li>
  <li>No Ability Levels taken into account (assumed to be level 1)</li>
  <li>No Special Combos are taken into account</li>
</ul>
<br>
<b>Instructions:</b><br>
<ul>
  <li>Fill in the names, alignments, atks, and abilities of at least 5 cards (pwr and defense currently do nothing)</li>
  <li>Press the "Optimize" button at the bottom</li>
</ul>
<br>
<b>Tips and Suggestions:</b><br>
<ul>
  <li>The optimizer will only use a card if the Name field is not blank, so be sure to fill in something</li>
  <li>If something seems way off, please double check that all the fields were entered correctly</li>
  <li>Try your best 7 cards</li>
  <li>Try your best 5-7 of each alignment (the adapter bonus and many abilities favor single-alignment decks)</li>
  <li>Use the <a href="http://marvel-war-of-heroes.wikia.com/wiki/Marvel:_War_of_Heroes_Wiki">MWoH Wiki</a> to find card stats, then run tests to find cards that will improve your deck</li>
</ul>